In [101]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')
path1='Dataset/exercise.csv'
exercise=pd.read_csv(path1)
exercise

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0      14733363    male   68   190.0    94.0        29         105       40.8
1      14861698  female   20   166.0    60.0        14          94       40.3
2      11179863    male   69   179.0    79.0         5          88       38.7
3      16180408  female   34   179.0    71.0        13         100       40.5
4      17771927  female   27   154.0    58.0        10          81       39.8
...         ...     ...  ...     ...     ...       ...         ...        ...
14995  15644082  female   20   193.0    86.0        11          92       40.4
14996  17212577  female   27   165.0    65.0         6          85       39.2
14997  17271188  female   43   159.0    58.0        16          90       40.1
14998  18643037    male   78   193.0    97.0         2          84       38.3
14999  11751526    male   63   173.0    79.0        18          92       40.5

[15000 rows x 8 columns]

In [102]:
path2='Dataset/calories.csv'
calories=pd.read_csv(path2)
calories

        User_ID  Calories
0      14733363     231.0
1      14861698      66.0
2      11179863      26.0
3      16180408      71.0
4      17771927      35.0
...         ...       ...
14995  15644082      45.0
14996  17212577      23.0
14997  17271188      75.0
14998  18643037      11.0
14999  11751526      98.0

[15000 rows x 2 columns]

<font size="5">Data Preprocessing</font>

checking is null values exists or not

In [103]:
exercise.isnull().sum()

User_ID        0
Gender         0
Age            0
Height         4
Weight        17
Duration       0
Heart_Rate     0
Body_Temp      0
dtype: int64


<font size=2>from this it is understood that the attributes that have null values are Height , Weight , Duration respectively</font>

<font size="5">Filling Missing values for weight using averaging in an age interval</font>

In [104]:
import statistics
NullWeight = exercise[exercise["Weight"].isnull()].replace(np.nan , 0) # storing the data for null weights and setting the nan values as zero 
print("Before : \n ",NullWeight) # shows the result
exercise["Weight"] = exercise["Weight"].replace(np.nan , 0)  # storing the data for null weights and setting the nan values as zero 
i = 0
for age in NullWeight['Age']: # accessing each age 
    age = age // 10 # setting up the range for age
    age = age * 10
    ageRange = exercise[(exercise["Age"] >= age) & (exercise["Age"] <= age + 10)]  # collecting age interval for a given age
    ageRangeAverage = np.nanmean(ageRange["Weight"]) # calculating the mean of the particular interval
    exercise["Weight"].iloc[i] = ageRangeAverage # updating the mean inplace for the missing values in the main dataset
    NullWeight["Weight"].iloc[i] = ageRangeAverage
    i += 1
print("\nAfter:\n",NullWeight) # displaying the updated result for the range of null dataset

Before :
         User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
114   13616455    male   21   189.0     0.0        27         114       41.0
123   18789619  female   35   182.0     0.0         2          83       38.4
162   19572798  female   38   169.0     0.0        14          94       40.1
200   12847212  female   30   168.0     0.0         6          76       39.4
269   13135068  female   69   156.0     0.0         8          83       39.4
797   16156697  female   43   173.0     0.0        30          79       38.2
802   19354925    male   33   181.0     0.0         4          89       38.6
808   16908484  female   46   168.0     0.0         2          85       37.7
872   19928569  female   39   159.0     0.0        15          93       40.0
878   19906933    male   53   179.0     0.0        14          93       40.0
942   16583091  female   28   163.0     0.0        27          99       41.1
1013  15330323    male   58   191.0     0.0        16          94       40.2
1154  12142970  female   38   169.0     0.0         3          85       38.5
1224  17492547  female   24   171.0     0.0        17          95       40.9
1277  18557816    male   32   182.0     0.0        20          98       40.7
1340  17755264    male   25   181.0     0.0        12          93       39.8
1397  18376618  female   37   172.0     0.0        17         108       40.3

After:
        User_ID  Gender  Age  Height     Weight  Duration  Heart_Rate  \
114   13616455    male   21   189.0  73.181027        27         114
123   18789619  female   35   182.0  74.458074         2          83
162   19572798  female   38   169.0  74.458074        14          94
200   12847212  female   30   168.0  74.458074         6          76
269   13135068  female   69   156.0  76.178569         8          83
797   16156697  female   43   173.0  75.407039        30          79
802   19354925    male   33   181.0  74.466627         4          89
808   16908484  female   46   168.0  75.407039         2          85
872   19928569  female   39   159.0  74.472098        15          93
878   19906933    male   53   179.0  75.672227        14          93
942   16583091  female   28   163.0  73.193189        27          99
1013  15330323    male   58   191.0  75.672227        16          94
1154  12142970  female   38   169.0  74.471267         3          85
1224  17492547  female   24   171.0  73.197364        17          95
1277  18557816    male   32   182.0  74.476955        20          98
1340  17755264    male   25   181.0  73.197364        12          93
1397  18376618  female   37   172.0  74.480272        17         108

      Body_Temp
114        41.0
123        38.4
162        40.1
200        39.4
269        39.4
797        38.2
802        38.6
808        37.7
872        40.0
878        40.0
942        41.1
1013       40.2
1154       38.5
1224       40.9
1277       40.7
1340       39.8
1397       40.3

<font size="5">Filling Missing values for Height and Weight  using averaging in an age interval</font>

In [105]:
NullHeight = exercise[exercise["Height"].isnull()].replace(np.nan , 0) # storing the data for null weights and setting the nan values as zero 
exercise["Height"] = exercise["Height"].replace(np.nan , 0)  # storing the data for null weights and setting the nan values as zero 
i = 0
for age in NullHeight['Age']: # accessing each age 
    age = age // 10 # setting up the range for age
    age = age * 10
    ageRange = exercise[(exercise["Age"] >= age) & (exercise["Age"] <= age + 10)]  # collecting age interval for a given age
    ageRangeAverage = np.nanmean(ageRange["Height"]) # calculating the mean of the particular interval
    exercise["Height"].iloc[i] = ageRangeAverage # updating the mean inplace for the missing values in the main dataset
    NullWeight["Height"].iloc[i] = ageRangeAverage
    i += 1
print("\nAfter:\n",NullWeight) # displaying the updated result for the range of null dataset

NullDuration = exercise[exercise["Duration"].isnull()].replace(np.nan , 0)
print(NullDuration)
print("Update Null Duration")
i = 0
for age in NullDuration['Age']: # accessing each age 
    age = age // 10 # setting up the range for age
    age = age * 10
    ageRange = exercise[(exercise["Age"] >= age) & (exercise["Age"] <= age + 10)]  # collecting age interval for a given age
    ageRangeAverage = np.nanmean(ageRange["Duration"]) # calculating the mean of the particular interval
    exercise["Duration"].iloc[i] = ageRangeAverage # updating the mean inplace for the missing values in the main dataset
    NullDuration["Duration"].iloc[i] = ageRangeAverage
    i += 1
    
i = 0
for age in NullDuration['Age']: # accessing each age 
    age = age // 10 # setting up the range for age
    age = age * 10
    ageRange = exercise[(exercise["Age"] >= age) & (exercise["Age"] <= age + 10)]  # collecting age interval for a given age
    ageRangeAverage = np.nanmean(ageRange["Duration"]) # calculating the mean of the particular interval
    exercise["Duration"].iloc[i] = ageRangeAverage # updating the mean inplace for the missing values in the main dataset
    NullDuration["Duration"].iloc[i] = ageRangeAverage
    i += 1

NullDuration = exercise[exercise["Duration"].isnull()].replace(np.nan , 0)  
print(NullDuration)

After:
        User_ID  Gender  Age      Height     Weight  Duration  Heart_Rate  \
114   13616455    male   21  174.562739  73.181027        27         114
123   18789619  female   35  174.173175  74.458074         2          83
162   19572798  female   38  174.562739  74.458074        14          94
200   12847212  female   30  174.423704  74.458074         6          76
269   13135068  female   69  156.000000  76.178569         8          83
797   16156697  female   43  173.000000  75.407039        30          79
802   19354925    male   33  181.000000  74.466627         4          89
808   16908484  female   46  168.000000  75.407039         2          85
872   19928569  female   39  159.000000  74.472098        15          93
878   19906933    male   53  179.000000  75.672227        14          93
942   16583091  female   28  163.000000  73.193189        27          99
1013  15330323    male   58  191.000000  75.672227        16          94
1154  12142970  female   38  169.000000  74.471267         3          85
1224  17492547  female   24  171.000000  73.197364        17          95
1277  18557816    male   32  182.000000  74.476955        20          98
1340  17755264    male   25  181.000000  73.197364        12          93
1397  18376618  female   37  172.000000  74.480272        17         108

      Body_Temp
114        41.0
123        38.4
162        40.1
200        39.4
269        39.4
797        38.2
802        38.6
808        37.7
872        40.0
878        40.0
942        41.1
1013       40.2
1154       38.5
1224       40.9
1277       40.7
1340       39.8
1397       40.3
Empty DataFrame
Columns: [User_ID, Gender, Age, Height, Weight, Duration, Heart_Rate, Body_Temp]
Index: []
Update Null Duration
Empty DataFrame
Columns: [User_ID, Gender, Age, Height, Weight, Duration, Heart_Rate, Body_Temp]
Index: []

<font size="5">Normalization of data set</font>

In [106]:
from sklearn.preprocessing import MinMaxScaler
print ("Before Normalization : \n")
exercise.head()

Before Normalization :

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
0,14733363,male,68,174.562739,73.181027,29,105,40.8
1,14861698,female,20,174.173175,74.458074,14,94,40.3
2,11179863,male,69,174.562739,74.458074,5,88,38.7
3,16180408,female,34,174.423704,74.458074,13,100,40.5
4,17771927,female,27,154.000000,76.178569,10,81,39.8

In [107]:
norm = MinMaxScaler()
data = exercise
data["Duration"] = norm.fit_transform(data["Duration"].values.reshape(-1,1))
print ("After Normalisation : \n")
data.head()

After Normalisation :

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
0,14733363,male,68,174.562739,73.181027,0.965517,105,40.8
1,14861698,female,20,174.173175,74.458074,0.448276,94,40.3
2,11179863,male,69,174.562739,74.458074,0.137931,88,38.7
3,16180408,female,34,174.423704,74.458074,0.413793,100,40.5
4,17771927,female,27,154.000000,76.178569,0.310345,81,39.8

<font size="5">Standardization of data set</font>

In [108]:
from sklearn.preprocessing import StandardScaler 
print ("Before Standardisation : \n")
exercise.tail()

Before Standardisation :

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
14995  15644082  female   20   193.0    86.0  0.344828          92       40.4
14996  17212577  female   27   165.0    65.0  0.172414          85       39.2
14997  17271188  female   43   159.0    58.0  0.517241          90       40.1
14998  18643037    male   78   193.0    97.0  0.034483          84       38.3
14999  11751526    male   63   173.0    79.0  0.586207          92       40.5

In [109]:
scalar = StandardScaler(copy=True, with_mean=True, with_std=True)
data = exercise
data["Duration"] = scalar.fit_transform(data["Duration"].values.reshape(-1,1))
print ("After Standardisation : \n")
data.head()

After Standardisation :

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
0,14733363,male,68,174.562739,73.181027,1.618588,105,40.8
1,14861698,female,20,174.173175,74.458074,-0.184393,94,40.3
2,11179863,male,69,174.562739,74.458074,-1.266182,88,38.7
3,16180408,female,34,174.423704,74.458074,-0.304592,100,40.5
4,17771927,female,27,154.000000,76.178569,-0.665188,81,39.8

In [110]:
#combining data frames
data=pd.concat([exercise,calories['Calories']],axis=1)
data

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,174.562739,73.181027,1.618588,105,40.8,231.0
1,14861698,female,20,174.173175,74.458074,-0.184393,94,40.3,66.0
2,11179863,male,69,174.562739,74.458074,-1.266182,88,38.7,26.0
3,16180408,female,34,174.423704,74.458074,-0.304592,100,40.5,71.0
4,17771927,female,27,154.000000,76.178569,-0.665188,81,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193.000000,86.000000,-0.544989,92,40.4,45.0
14996,17212577,female,27,165.000000,65.000000,-1.145983,85,39.2,23.0
14997,17271188,female,43,159.000000,58.000000,0.056005,90,40.1,75.0
14998,18643037,male,78,193.000000,97.000000,-1.626778,84,38.3,11.0
14999,11751526,male,63,173.000000,79.000000,0.296402,92,40.5,98.0

<font size="5">Text to data conversion for gender</font>

Setting Male as 0 and Female as 1

In [111]:
data.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [113]:
data = data.replace("male",0)
data = data.replace("female",1)

In [ ]:
#shape of the dataset
data.shape

In [ ]:
#Information about the data
data.info()

In [ ]:
#missing values
data.isnull().sum()

In [ ]:
from matplotlib import pyplot
exercise.hist()

In [ ]:
#DATA SUMMARIZATION
#STATISTICAL METHODS

In [ ]:
data.describe()

In [ ]:
#DATA VISUALIZATION

In [ ]:
sb.set()

In [ ]:
# #gender count using countplot
# sb.countplot(data['Gender'])

In [ ]:
#distribution of age,height,weight column using distplot
sb.displot(data['Age'])

In [ ]:
sb.displot(data['Height'])

In [ ]:
sb.displot(data['Weight'])

In [ ]:
#Histogram for all attributes
data.hist()

In [ ]:
#box plot
data.plot(kind='box', subplots=True, layout=(3,3), sharex=False,sharey=False)

In [ ]:
#density plot
data.plot(kind='density', subplots=True, layout=(3,3), sharex=False)

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(data)

In [ ]:
scatter_matrix(data[['Age','Calories']])